*{
    margin: 0;
    padding: 0;
}
body{
    background-size: contain;
}
.score{
    background-color:darkkhaki;
    padding-left: 1rem;
    padding-right: 1rem;
}
h1{
color:white;
background-color: brown;
text-align: center;
padding-top: 1rem;
padding-bottom: 1rem;
}
img{
    object-fit:cover;
    border-radius: 10rem;
}

.container{
    height: 40vh;
    display: flex;
    justify-content:center;
    gap:3rem;
    margin-top: 3rem;
}
.boxes{
    height: 30vmin;
    width: 30vmin;
    display: flex;
    justify-content: center;
    border-radius: 10rem;
}
.scorecard{
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:2rem;
    gap:5rem;
}
#userscore,#compscore{
    font-size: 5rem;
    text-align: center;
}
.output{
    display: flex;
    justify-content: center;
    margin-top: 2.5rem; 
}
#result{
    font-size: 2rem;
    background-color:darkgray;
    border-radius: 0.5rem;
    padding: 1rem;
}
